h1 {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

h3 {
    float: left;
    margin-left: 670px;
    margin-top: 25px;
}